{% extends 'base.html' %}
{% load static %}
{% block title %}{{ article.title }}{% endblock %}
{% block content %}
  <div class="flex flex-col gap-16 md:gap-20">
    <div class="grid min-h-max grid-cols-1 md:grid-cols-12 items-start justify-between gap-5">
      <div class="md:col-span-6 p-2.5 bg-(--beige)">
        <img
            class="object-cover max-h-[400px] md:max-h-[600px] border border-(--accent) outline outline-(--accent) outline-offset-10 rounded-xl w-full"
            src="{{ article.get_cover_image.image.url }}" alt="Image">
      </div>
      <div class="md:col-start-8 md:col-end-13 flex flex-col gap-4 md:gap-6 lg:gap-10">
        <h1 class="font-medium text-xl md:text-2xl lg:text-3xl text-(--text)">{{ article.title }}</h1>
        <div class="relative">
          <div id="readMoreText" class="overflow-hidden transition-all duration-300 max-h-[350px]">
            {#<p class="md:text-lg text-(--text)"></p>#}
              {{ article.content|safe }}
          </div>
          <div id="readMoreGradient"
               class="absolute bottom-5 -left-2 -right-2 h-10 bg-gradient-to-t from-(--bg) to-(--bg)/50 blur-xs pointer-events-none"></div>
          <button id="readMoreButton"
                  class="mt-2 nav-link cursor-pointer text-sm! normal-case! focus:outline-none"
                  aria-expanded="false"
                  aria-controls="readMoreText">
            Читать все ↓
          </button>
        </div>
      </div>
    </div>
    <div class="gallery -m-2.5 min-h-fit">
      {% for image in article.images.all %}
        {% include "components/gallery_image.html" with img=image %}
      {% endfor %}
    </div>
  </div>
{% endblock %}