{% extends 'base.html' %}
{% load static %}
{% block title %}История развития{% endblock %}
{% block content %}
  <div class="flex flex-col gap-24 md:gap-20">
    {% include 'components/text_block.html' with title="История развития" description="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam." %}
    <div class="relative">
      <div class="absolute left-1/2 w-px h-full bg-(--accent) transform -translate-x-1/2"></div>
      <div class="space-y-8 md:space-y-0">
        {% for item in years %}
          <div class="relative flex items-center h-24">
            <div class="absolute left-1/2 w-2.5 h-px bg-(--accent) transform -translate-x-1/2
            {% if forloop.counter0|divisibleby:2 %}-translate-x-2.5{% else %}translate-x-0{% endif %}"></div>

            <a href="{% url 'index' %}"
               class="absolute {% if forloop.counter0|divisibleby:2 %}right-1/2 mr-2.5{% else %}left-1/2 ml-2.5{% endif %} 
                  outline-none group"
               tabindex="0">
              <div class="md:w-[100px] transition-all duration-300 
              w-[calc((100vw-32px-21px)/2)] md:group-hover:w-[300px] md:group-focus-visible:w-[300px]">
                <div class="relative overflow-hidden rounded-2xl h-auto border border-(--accent) bg-(--beige) 
                md:group-hover:border-(--accent) group-focus-visible:border-(--accent)">
                  <div class="absolute inset-0 h-[140px] sm:h-[180px] opacity-100
                  md:h-0 md:opacity-0 
                  md:group-hover:h-[180px] md:group-hover:opacity-100 
                  group-focus-visible:h-[180px] group-focus-visible:opacity-100
                  transition-all duration-300 px-2.5 pt-2.5">
                    <img src="{% static item.img %}" alt="{{ item.title }}"
                         class="w-full h-full object-cover rounded-xl border border-(--accent)">
                  </div>
                  
                  <div class="p-2.5 rounded-2xl transition-all duration-300 relative z-10
                pt-[150px] sm:pt-[190px]
                md:pt-2.5 md:group-hover:pt-[190px] group-focus-visible:pt-[190px]">
                    <h3 class="font-medium text-(--accent) md:text-lg text-center">{{ item.title }}</h3>
                  </div>
                </div>
              </div>
            </a>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}