{% load i18n static %}
{% if cl.search_fields %}
  <div id="toolbar">
    <form id="changelist-search" method="get" role="search">
      <div><!-- DIV needed for valid HTML -->
        <div class="flex gap-2">
          <label>
            <input class="input" type="text" size="40" name="{{ search_var }}" value="{{ cl.query }}"
                   placeholder="Поиск..."
                {% if cl.search_help_text %} aria-describedby="searchbar_helptext"{% endif %}>
          </label>
          <button class="custom_btn bg-blue-500 text-white" type="submit">Найти</button>
        </div>
        {% if show_result_count %}
          <p class="small quiet flex items-center gap-4 justify-between my-2 text-sm">{% blocktranslate count counter=cl.result_count %}{{ counter }} результат
            {% plural %}{{ counter }} результатов{% endblocktranslate %} <a class="text-red-500 text-xs" href="?">Сбросить поиск</a></p>
        {% endif %}
        {% for pair in cl.params.items %}
          {% if pair.0 != search_var %}<input type="hidden" name="{{ pair.0 }}" value="{{ pair.1 }}">{% endif %}
        {% endfor %}
      </div>
      {% if cl.search_help_text %}
        <br class="clear">
        <div class="help" id="searchbar_helptext">{{ cl.search_help_text }}</div>
      {% endif %}
    </form>
  </div>
{% endif %}
