* {
  font-family: "Raleway", serif;
  font-variant-numeric: lining-nums;
}

.content, .content-wrapper {
  background-color: #f8faff;
}

.main-header {
  background-color: #f0f4fc;
}

.card, .timeline-header {
  background-color: #f0f4fc;
}

.timeline-body {
  background-color: #f0f4fc;
}

.elevation-3 {
  box-shadow: none !important;
}

.sidebar, .main-sidebar {
  background-color: #1c232a;
}

.brand-text {
  opacity: 0;
  color: #002b58;
}

.login-logo {
  filter: invert();
}

.custom_btn {
  padding: 8px 16px;
  border-radius: 16px;
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 500;
  width: max-content;
  cursor: pointer;
  flex-wrap: nowrap;
}

.input {
  padding: 8px 16px;
  border-radius: 16px;
  border: solid 1px darkgrey;
  background: white;
  width: 100%;
}

.actions label select {
  padding: 8px 16px;
  border-radius: 16px;
  border: solid 1px darkgrey;
  background: white;
}

.form-row div .flex-container input[type="text"],
.form-row div .flex-container input[type="number"],
.form-row div .flex-container textarea,
.form-row div .flex-container select {
  padding: 8px 16px;
  border-radius: 16px;
  border: solid 1px darkgrey;
  background: white;
  width: 100% !important;
  max-height: 200px;
  font-size: 16px;
}

.form-row div .flex-container label {
  font-weight: 500;
  font-size: 16px;
  width: 100%;
}

.related-widget-wrapper {
  display: flex;
  gap: 10px 10px !important;
}

.errorlist {
  margin-left: 0 !important;
  padding-left: 0 !important;
}

.file-upload {
  font-weight: 400 !important;
}

input[type="file"] {
  border-radius: 8px;
  padding: 4px;
  background-color: #2b7fff;
  width: max-content;
  max-width: max-content;
  color: white;
}
