{% load static %}
<header class="flex flex-wrap justify-between items-center gap-x-8 gap-y-4 py-5 md:py-4 border-b border-b-(--accent)">
  <a class="" href="{% url 'index' %}">
    <img class="flex-1 flex-grow flex-shrink-0" src="{% static 'img/logo.svg' %}" alt="Логотип">
  </a>
  <nav class="">
    <ul class='flex flex-wrap items-baseline gap-x-8 gap-y-4'>
      <li>
        <a href='{% url "section" "history" %}' class='nav-link'>
          История развития
        </a>
      </li>
      <li>
        <a href='{% url "traditions" %}' class='nav-link'>
          Традиции
        </a>
      </li>
      <li>
        <a href='{% url "section" "teachers" %}' class='nav-link'>
          Преподаватели
        </a>
      </li>
      <li>
        <a href='{% url "section" "graduates" %}' class='nav-link'>
          Выпускники
        </a>
      </li>
    </ul>
  </nav>
</header>